<div class="container">
  <div class="pt-5 pb-4 text-center">
    <h2>Recipes.</h2>
    <p class="lead">Simple, delicious recipes delivered without the clutter</p>
  </div>
  <hr class="mb-5">
  <p>The goal of Recipes. is to share easy-to-use recipes without overwhelming you with content. Each recipe is presented to you ad-free with only the information you need to make the dish.</p>
  <div>
    My recipes aim to:
    <ul>
        <li>Cook from scratch</li>
        <li>Use fresh, healthy ingredients</li>
        <li>Make cooking simple</li>
    </ul>
  </div>
  <p>To get started you can browse <a routerLink="/browse">all recipes</a> or <a routerLink="/search">search</a> for something in particular</p>
</div>
<div class="container mt-5">
  <div class="row">
      <div class="col-md-4">
        <a href="/recipe/Cherry-Chipotle%20Steak%20for%20Tacos">
          <img class="img-fluid" src='https://s3.us-east-2.amazonaws.com/elasticbeanstalk-us-east-2-974097999386/pictures/cherrychipotle.jpg'/>
        </a>
      </div>
      <div class="col-md-4">
        <a href="/recipe/Cherry-Chipotle%20Steak%20for%20Tacos">
          <img class="img-fluid" src='https://s3.us-east-2.amazonaws.com/elasticbeanstalk-us-east-2-974097999386/pictures/strawberry_pie.jpg'/>
        </a>
      </div>
      <div class="col-md-4">
        <a href="/recipe/Cherry-Chipotle%20Steak%20for%20Tacos">
          <img class="img-fluid" src='https://s3.us-east-2.amazonaws.com/elasticbeanstalk-us-east-2-974097999386/pictures/corn_salad.jpg'/>
        </a>
      </div>
  </div>
</div>
